/* Section */
.highlights {
    background: #f5f9ff;
    padding: 30px 15px;
    text-align: center;
}

.highlights h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

/* Grid */
.highlight-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

/* Card */
.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

/* Icon */
.icon {
    font-size: 22px;
    margin-bottom: 5px;
}

.image-stretch {
    width: stretch;
}

/* Section */
.solution {
    background: #fff7e6;
    padding: 30px 15px;
    text-align: center;
}

.solution h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.solution p {
    font-size: 16px;
    color: #555;
    margin-bottom: 25px;
}

/* Grid */
.solution-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

/* Card */
.solution-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

/* Icon */
.solution-card span {
    font-size: 22px;
    display: block;
    margin-bottom: 5px;
}

/* Section */
.trust {
    background: #f0fff4;
    padding: 30px 15px;
    text-align: center;
}

.trust h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #222;
}

/* Grid */
.trust-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

/* Card */
.trust-card {
    background: white;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* Icon */
.trust-icon {
    font-size: 26px;
    margin-bottom: 8px;
}

/* Text */
.trust-text {
    font-size: 16px;
    color: #444;
    font-weight: 500;
}

/* Tablet */
@media(min-width: 600px) {
    .highlight-container {
        grid-template-columns: 1fr 1fr;
    }

    .solution-grid {
        grid-template-columns: 1fr 1fr;
    }

    .trust-container {
        grid-template-columns: 1fr 1fr;
    }
}

/* Desktop */
@media(min-width: 900px) {
    .highlight-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .solution-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .trust-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}